body{
   
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% ;
}

#bananas{
    color: #DFC53F;
}

.codebananas-main{

    bottom: 1rem;
    font-size: 2.5rem;
    font-stretch:expanded;
}
.editor{
    margin-top: 5%;
    height: 80vh;
    width: 100%;
}